In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Read in the datadata
df= pd.read_csv('udemy_courses.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   object
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3669 non-null   object
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   object
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   object
 11  subject              3678 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 344.9+ KB

In [ ]:
# Look at the data
df.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [ ]:
# Check some any missing data
for col in df.columns:
   missing = np.mean(df[col].isnull())
   print('{} - {}%'.format(col,missing))

course_id - 0.0%
course_title - 0.0%
url - 0.0%
is_paid - 0.0024469820554649264%
price - 0.0%
num_subscribers - 0.0%
num_reviews - 0.0%
num_lectures - 0.0%
level - 0.0%
content_duration - 0.0%
published_timestamp - 0.0%
subject - 0.0%

In [ ]:
# Kind of is_paid
print(df['is_paid'].unique())

[True False nan]

In [ ]:
# Column is_paid have some missing data.
df['is_paid'].fillna(False,inplace=True)

In [ ]:
# Check again 
for col in df.columns:
   missing = np.mean(df[col].isnull())
   print('{} - {}%'.format(col,missing))

course_id - 0.0%
course_title - 0.0%
url - 0.0%
is_paid - 0.0%
price - 0.0%
num_subscribers - 0.0%
num_reviews - 0.0%
num_lectures - 0.0%
level - 0.0%
content_duration - 0.0%
published_timestamp - 0.0%
subject - 0.0%

In [ ]:
# Check Duplicate course_id 
df['course_id'].describe()

count      3678
unique     3673
top       28295
freq          2
Name: course_id, dtype: object

In [ ]:
# Remove Duplicate: Primary key course_id
df=df.drop_duplicates(subset=['course_id'])

In [ ]:
# Check Duplicate (again) 
df['course_id'].describe()

count        3673
unique       3672
top       1157298
freq            2
Name: course_id, dtype: object

In [ ]:
# Fix the error in course_id
df['course_id'] = df['course_id'].str.replace('[ABC]','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
# Check Duplicate (again)
df['course_id'].describe()

count        3673
unique       3672
top       1157298
freq            2
Name: course_id, dtype: object

In [ ]:
# Remove Duplicate: Primary key course_id (again)
df=df.drop_duplicates(subset=['course_id'])

In [ ]:
# Check Duplicate (again)
df['course_id'].describe()

count        3672
unique       3672
top       1070968
freq            1
Name: course_id, dtype: object

In [ ]:
#Duplicate subject 
print(df['subject'].unique())

['Business Finance' 'Business Ffinance' 'Graphic  Design' 'Graphic Design'
 'Musical Instruments' 'Musical Instrument' 'Web Development']

In [ ]:
# Fix duplicate subject 
df['subject']=df['subject'].str.replace('Business Ffinance','Business Finance')
df['subject']=df['subject'].str.replace('Graphic  Design','Graphic Design')
df['subject']=df['subject'].str.replace('Musical Instrument$','Musical Instruments')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [ ]:
# Duplicate subject (again)
print(df['subject'].unique())

['Business Finance' 'Graphic Design' 'Musical Instruments'
 'Web Development']

In [ ]:
df.to_csv('udemy_courses_clean.csv', index=False)